<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="db.properties"/>
    </bean>

    <bean id="h2dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${h2driverName}"/>
        <property name="url" value="${h2url}"/>
        <property name="username" value="${h2userName}"/>
        <property name="password" value="${h2password}"/>
    </bean>


    <bean id="postgresDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${postgresDriverName}"/>
        <property name="url" value="${postgresUrl}"/>
        <property name="username" value="${postgresUserName}"/>
        <property name="password" value="${postgresPassword}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="postgresDataSource"/>
        <constructor-arg name="lazyInit" value="false"/>
    </bean>
</beans>